<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SS BANK</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo.png" rel="icon">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <script src="https://use.fontawesome.com/5eec94b9ab.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="hcontainer">

      <div class="logo">
        <a href="/index"><img src="/img/logo.png" alt="" class="img-fluid"></a>
        <h1 class="text-light"><a href="/index"><span>SS Bank</span></a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/customer">All customers</a></li>
          <li><a class="nav-link scrollto" href="/transaction">Transaction History</a></li>
          <li><a class="getstarted scrollto" href="#services">Get Started</a></li>
        </ul>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Welcome to our bank</h1>
          <h2><p>Your Money,<br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspOur Responsibility</h2>
          <div>
            <a href="#services" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check out services we offer</p>
        </div>

        <div class="row1">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
              
              <h4 class="title"><a href="/customer">View customer</a></h4>
              <p class="description">You can see the list of all customer and select to view any of the customer</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></div>
              <h4 class="title"><a href="/transfer">Transfer Money</a></h4>
              <p class="description">Transfer money to anyone you want fast with full safety </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-history" aria-hidden="true"></i></div>
              <h4 class="title"><a href="/transaction">Transaction History</a></h4>
              <p class="description">You can view all the transactions that takes place in our bank</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Customer Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          
          <p>Our Customers</p>
        </div>


        <div class="mor">
          <a href="/customer" class="more">More</a>
        </div>
      </div>
    </section><!-- End Customer Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    
    <div class="container py-4">
      
      <div class="copyright">
        <h4>Our Social Networks</h4>
      <div class="soc" style="display: flex;">
                <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              </div>
        &copy; Copyright <strong><span> 2021 SS BANK </span></strong>| All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  

  

  

</body>

</html>